/* https://fonts.google.com/selection/embed you need to select a font to see this*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
	font-family: "Rubik", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	text-align: center;
	background-image: url("../assets/rose-bg.jpeg");
	background-attachment: fixed;
}

li {
	text-align: left;
}

main {
	background-color: white;
	padding: 4em;
	max-width: fit-content;
	margin: auto;
	height: 65vh;
}

.navTools {
	padding: 0.4em;
	background-color: #800000;
}

header {
	/* https://www.w3schools.com/howto/howto_css_sticky_element.asp */
	position: sticky;
	font-size: 30px;
	top: 0;
}

header a {
	padding: 0.4em;
	margin: auto;
}

.navTools a:link, .navTools a:visited {
	color: white;
}

.navTools a:hover, #currentPage {
	background-color: white;
	color: #800000;
}

footer {
	text-align: left;
	font-size: 20px;
}

footer a {
	padding: 0.2em;
}

td {
	padding: 2em;
}

.navTools li::marker {
	color:white;
}