@font-face {
  font-family: "Rubik";
  src: url("..\assets\fonts\Rubik-Regular.ttf") format("ttf");
}

body {
	font-family: "Rubik", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
	text-align: center;
	/* https://www.w3schools.com/howto/howto_css_sticky_element.asp */
	position: sticky;
	top: 0;
}